{% extends 'main/base.html' %}

{% block content %}
      <div class="row">
          {% for item in news %}
        <div class="ol-4"></div>
      </div>
    <div class="card" style="width: 18rem;">
  <img class="card-img-top" src="{{ item.image.url }}" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">{{ item.title }}</h5>
    <p class="card-text">{{ item.content }}</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
    {% endfor %}
</div>


{% endblock %}